<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="main" class="container">
        <div id="header">
            <div th:replace="~{header :: head-fee}"></div>
        </div>
        <br>
        <form class="row" id="search_fee_form" th:action="@{searchFeeReport}" method="post">
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addonFrom">月度（选择月份）</span>
                    <input type="date" class="form-control" th:name="fromMonthly" aria-describedby="basic-addonFrom"
                           th:value="2019-01-01">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="..." th:name="reportType" th:value="m" checked>
                        </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addonTo">季度（选择起始月份）</span>
                    <input type="date" class="form-control" th:name="fromQuarter" aria-describedby="basic-addonTo"
                           th:value="2019-01-01">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="..." th:name="reportType" th:value="q">
                        </span>
                </div>
            </div>
            <div class="col-lg-2">
                <input type="submit" class="btn" th:value="筛选">
            </div>
        </form>
        <br>
        <div>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" th:text="'收入总计：'+${totalIn}+'元'"></li>
                <li role="presentation" th:text="'支出总计：'+${totalOut}+'元'"></li>
                <li role="presentation" th:text="'盈利：'+(${totalIn}-${totalOut})+'元'"></li>
            </ul>

        </div>
        <table class="table table-bordered table-striped">
            <caption th:text="'收入记录：共' + ${incomeList.size()} + '条'"></caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'#'+${incomeList.size()}"></th>
                <th scope="col" th:each="field: ${feeFields}" th:text="${FOEMap[field.getName()]}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, status: ${incomeList}">
                <th scope="row" th:text="${status.count}"></th>
                <td class="list" th:each="field: ${feeFields}" th:text="${emp[field.getName()]}"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped">
            <caption th:text="'支出记录：共' + ${outcomeList.size()} + '条'"></caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'#'+${outcomeList.size()}"></th>
                <th scope="col" th:each="field: ${feeFields}" th:text="${FOEMap[field.getName()]}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, status: ${outcomeList}">
                <th scope="row" th:text="${status.count}"></th>
                <td class="list" th:each="field: ${feeFields}" th:text="${emp[field.getName()]}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</html>