<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>住户需缴纳费用账单</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/form.css"/>
</head>
<body>
<div id="wrapper">
    <div id="main" class="container">
        <div id="header">
            <div th:replace="~{header :: head-property}"></div>
        </div>
        <br>
        <table class="table table-bordered table-striped">
            <caption>物业费记录</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'#'+${propertyFeeList.size()}"></th>
                <th scope="col" th:each="field: ${propertyFeeFields}" th:text="${FOEMap[field.getName()]}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, status: ${propertyFeeList}">
                <th scope="row" th:text="|${status.count}|"></th>
                <td class="list" th:each="field: ${propertyFeeFields}" th:text="${emp[field.getName()]}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered table-striped">
            <caption>管理费记录</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'#'+${managementFeeList.size()}"></th>
                <th scope="col" th:each="field: ${managementFeeFields}" th:text="${FOEMap[field.getName()]}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, status: ${managementFeeList}">
                <th scope="row" th:text="|${status.count}|"></th>
                <td class="list" th:each="field: ${managementFeeFields}" th:text="${emp[field.getName()]}"></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/getRowInfo.js"></script>
<script src="/js/search.js"></script>
</html>