<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="main" class="container">
        <div id="header">
            <div th:replace="~{header :: head-complaint}"></div>
        </div>
        <br>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a th:href="@{idle}">月度投诉记录</a></li>
            <li role="presentation"><a th:href="@{purchase}">季度投诉记录</a></li>
            <li role="presentation"><a th:href="@{rent}">投诉意见统计</a></li>
        </ul>
        <br>
    </div>
    <div id="footer">
        <div th:replace="~{footer :: foot-fragment}"></div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</html>