<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="main" class="container">
        <div id="header">
            <div th:replace="~{header :: head-parking}"></div>
        </div>
        <br>
        <div class="bd-example" th:if="${type}==null">
            <form class="row" id="search_form" th:action="@{search}">
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">小区名</span>
                        <input type="text" class="form-control" th:name="communityName" aria-describedby="basic-addon1"
                               th:placeholder="小区名" th:value="A">
                    </div><!-- /input-group -->
                </div>
                <div class="col-lg-2">
                    <input type="submit" class="btn" th:value="筛选">
                </div>
            </form>
        </div>
        <div class="bd-example" th:if="${type}!=null">
            <a class="btn btn-primary" th:href="@{idle}"> 选择车位 </a>
            <br>
            <form id="show-form" th:action="@{'add'+${type}+'Pks'}">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" th:text="类型"></th>
                        <th scope="col" th:each="field: ${inputFields}" th:text="${FOEMap[field.getName()]}"></th>
                        <th scope="col">提交</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="List">
                            <input type="text" class="form-control" th:name="type" th:value="${type}"
                                   readonly="readonly">
                        </td>
                        <td class="list" th:each="field: ${inputFields}">
                            <input type="text" class="form-control" th:name="${field.getName()}">
                        </td>
                        <td class="list">
                            <input type="submit" class="btn btn-primary" th:value="确认">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <table class="table table-bordered table-striped">
            <caption th:text="${title}+'：共' + ${pksList.size()} + '条'"></caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="'#'+${pksList.size()}"></th>
                <th scope="col" th:each="field: ${fields}" th:text="${FOEMap[field.getName()]}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, status: ${pksList}">
                <th scope="row" th:text="${status.count}"></th>
                <td class="list" th:each="field: ${fields}" th:text="${emp[field.getName()]}"></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</html>