<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<br>
<footer class="navbar-fixed-bottom" th:fragment="foot-fragment">
    <div class="container">
        <h2>Property Management System</h2>
        <p>If you have any question regarding the license or anything else let us know:
            <a href="mailto:16302010059@fudan.edu.cn">
                Contact me!</a></p>
        <p>And don't forget to share, like and follow Property Management System ;)</p>
    </div>
</footer>
</body>
</html>