<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="navbar navbar-light bg-light header-nav" th:fragment="head-fragment">
    <div class="container">
        <span class="navbar-brand mb-0 h1 header-font">Property Management System</span>
    </div>
</nav>
<ul class="nav nav-tabs" th:fragment="head-index">
    <li role="presentation" class="active"><a href="/index">Home</a></li>
    <li role="presentation"><a href="/property/">房屋住户管理</a></li>
    <li role="presentation"><a href="/parking/">停车管理</a></li>
    <li role="presentation"><a href="/equipment/">设备管理</a></li>
    <li role="presentation"><a href="/fee/ieReport">费用管理</a></li>
    <li role="presentation"><a href="/complaint/complaintRecord">投诉意见管理</a></li>
</ul>
<ul class="nav nav-tabs" th:fragment="head-property">
    <li role="presentation"><a href="/index">Home</a></li>
    <li role="presentation" class="active"><a href="/property/">房屋住户管理</a></li>
    <li role="presentation"><a href="/parking/">停车管理</a></li>
    <li role="presentation"><a href="/equipment/">设备管理</a></li>
    <li role="presentation"><a href="/fee/ieReport">费用管理</a></li>
    <li role="presentation"><a href="/complaint/complaintRecord">投诉意见管理</a></li>
</ul>
<ul class="nav nav-tabs" th:fragment="head-parking">
    <li role="presentation"><a href="/index">Home</a></li>
    <li role="presentation"><a href="/property/">房屋住户管理</a></li>
    <li role="presentation" class="active"><a href="/parking/">停车管理</a></li>
    <li role="presentation"><a href="/equipment/">设备管理</a></li>
    <li role="presentation"><a href="/fee/ieReport">费用管理</a></li>
    <li role="presentation"><a href="/complaint/complaintRecord">投诉意见管理</a></li>
</ul>
<ul class="nav nav-tabs" th:fragment="head-equipment">
    <li role="presentation"><a href="/index">Home</a></li>
    <li role="presentation"><a href="/property/">房屋住户管理</a></li>
    <li role="presentation"><a href="/parking/">停车管理</a></li>
    <li role="presentation" class="active"><a href="/equipment/">设备管理</a></li>
    <li role="presentation"><a href="/fee/ieReport">费用管理</a></li>
    <li role="presentation"><a href="/complaint/complaintRecord">投诉意见管理</a></li>
</ul>
<ul class="nav nav-tabs" th:fragment="head-fee">
    <li role="presentation"><a href="/index">Home</a></li>
    <li role="presentation"><a href="/property/">房屋住户管理</a></li>
    <li role="presentation"><a href="/parking/">停车管理</a></li>
    <li role="presentation"><a href="/equipment/">设备管理</a></li>
    <li role="presentation" class="active"><a href="/fee/ieReport">费用管理</a></li>
    <li role="presentation"><a href="/complaint/complaintRecord">投诉意见管理</a></li>
</ul>
<ul class="nav nav-tabs" th:fragment="head-complaint">
    <li role="presentation"><a href="/index">Home</a></li>
    <li role="presentation"><a href="/property/">房屋住户管理</a></li>
    <li role="presentation"><a href="/parking/">停车管理</a></li>
    <li role="presentation"><a href="/equipment/">设备管理</a></li>
    <li role="presentation"><a href="/fee/ieReport">费用管理</a></li>
    <li role="presentation" class="active"><a href="/complaint/complaintRecord">投诉意见管理</a></li>
</ul>
</body>
</html>