<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/form.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div th:replace="~{header :: head-fragment}"></div>
        </div>
        <div id="main" class="container">

            <div class="bd-example">
                <form id="show-form">
                    <!--TODO: there will be for each-->
                    <div class="form-group row short-row" th:each="field: ${fields}">
                        <label th:for="${field.getName()}" class="col-sm-2 col-form-label" th:text="${FOEMap[field.getName()]}"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:id="${field.getName()}">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-sm-0 col-1">Insert</button>
                    <button class="btn btn-outline-success my-2 my-sm-0 col-1" type="button" onclick="doSearch(1)">Search</button>

                </form>
            </div>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:each="field: ${fields}" th:text="${FOEMap[field.getName()]}"></th>
                    <th scope="col">编辑确认</th>
                    <th scope="col">删除</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp, status: ${userList}" th:onclick="'getRowInfo(' + |'/user/info?id=${emp.id}'| + ')'">
                    <th scope="row" th:text="|${status.count}|"></th>
                    <td class="list" th:each="field: ${fields}" th:text="${emp[field.getName()]}"></td>
                    <td class="list"><a href="#">编辑确认</a></td>
                    <td class="list"><a href="#">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="footer">
            <div th:replace="~{footer :: foot-fragment}"></div>
        </div>
    </div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/getRowInfo.js"></script>
<script src="/js/search.js"></script>
</html>